body {
	background-color: #ffffff;
}

div.card, div.cardfloat {
	height: 65px;
	background-color: blue;
	width: 100px;
	z-index: 5;
	position: absolute;
	top: 50px;
	left: 150px;
	color: white;
	text-align: center;
	border: 0.1em solid gray;
}

div.cardfloat {
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

#menuArea {
	height: 30px;
	width: 30%;
	float: left;
}
#notificationArea {
	height: 30px;
	width: 30%;
	margin-right: 0px;
	border: 1px solid blue;
	float: right;
	text-align: center;
}

tr.columns > td {
	border: 0.1em solid gray;
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.column {
	position: absolute;
	top: 50px;
	width: 220px;
	height: 1000px;
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);	
}

div.header {
	width: 220px;
	font-family: Helvetica;
	font-weight: bold;
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);		
}

#testElement2 {
	top: 150px;
	left: 150px;
}

#testElement3 {
	top: 50px;
	left: 100px;
}

#console {
	top:200px;
	left:100px;
	background-color: blue;
}